# ======================
# Compiled C files
# ======================

*.exe
*.out
*.o


# ======================
# Generated reports
# ======================

CipherKey_Report.txt


# ======================
# VS Code settings
# ======================

.vscode/


# ======================
# Temporary files
# ======================

*.tmp
*.log


# ======================
# Build folder
# ======================

build/